# **LENDING CLUB CASE STUDY FOR LOAN DEFAULTERS**

**Objective:** Use EDA to find out key attributes which influence the tendency to default

**Group Members** (Individual)
* Atul Tiwari

In [1]:
!python --version

Python 3.9.7

In [ ]:
#Installing the missing libraries
!pip install dataprep

### Importing the libraries

In [4]:
#Importing the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load the dataset (CSV file)

* Dataset needs to be loaded from csv files

* There can be various ways in which we can provide the csv file, for e.g. -

- If using google colab, we can either upload the file to the active workspace or we can upload the file in google drive -> mount the drive -> locate the file in the drive

- If using jupyter notebook in personal laptop (offline), then we can just keep the csv file in the same folder (method used in this project) or provide a location to the file

In [5]:
#Loading the dataset
df_loan = pd.read_csv('loan.csv', low_memory=False)

### Understanding the data by loading & studying the data dictionary

In [7]:
#Loading data dictionary excel file
data_dictionary = pd.read_excel("Data_Dictionary.xlsx")
data_dictionary

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]